table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #ddd;
}
img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}